@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
li{
  list-style: none;
}
.app-wrapper {
  max-width: 98%;
  margin: 0 auto;
  padding: 0 1rem;
}

.app-btn {
  background-color: #2b2b2b;
  /* default dark */
}

.app-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #9a9b83;
  transform: translateY(100%);
  transition: transform 0.45s ease;
  z-index: 0;
}

.app-btn:hover::before {
  transform: translateY(0%);
}